  @import url('https://fonts.googleapis.com/css?family=Electrolize');
  article {
   background: gray;
   border-radius: 35px;
   border: black;
   margin: 15px,15px,15px,15px;
   font-family:'Electrolize';
  }
  body {
   background: green;
   color: red;
  }
  center {
   background: green;
   color: red;
  }

