/*
 User web interface theme, v2.

 Palette:
  #DFD    light green
  #378742 mid green
  #318458 mid green offset
  #006634 dark green
  #46526C dark purple
  #F4F3EE light gray
  #777    dark gray
  #FCC    light red
  #C00    red
*/
html,body {
  font-family: Helvetica, Arial, sans-serif;
}

body,#page {
  margin: 30px;
  border: 1px solid #7B7979;
  box-shadow: 1px 2px 4px #555;
  background-color: #EEE;
  font-size: 0.8em;
  text-align: left;
  color: #000;
  min-width: 870px;
}

span.pagination {
  font-size: 0.9em;
  margin-right: 1em;
  }

span.pagination a {
   text-decoration: none;
   margin: 1px 4px;
  }
  
span.pagination a img {
   margin: 1px -4px;
  }
  
#container {
  background-color: #FAFAFA;
}

h1,h2,h3,p {
  margin: 1em 0;
}

h1,h2 {
  font-size: 1.7em;
  font-weight: 200;
  color: #32363B;
}

h1 {
  background-color: #EBEBEB;
  background-image: linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 76%);
  background-image: -o-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 76%);
  background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 76%);
  background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 76%);
  background-image: -ms-linear-gradient(bottom, #F0F0F0 0%, #FAFAFA 76%);
  margin: -10px -15px 20px -60px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 1px 1px #FFF;
  border-bottom: 1px solid #CCC;
}

h2 {
  padding: 5px 0px 5px 0px;
  width: 550px;
  border-top: 2px solid #F1F1F1;
}

h3 {
  font-size: 1.2em;
}

.smallText {
  font-size: 0.9em;
}

.dimText {
  color: #777;
}

.caption {
  font-size: 0.8em;
  font-style: italic;
}

img {
  border-style: none;
  /* IE PNG transparency hack */
  behavior: url(/css/pngHack/pngHack.htc);
}

a:link {
  color: #608AAF;
  text-decoration: underline;
}

.denied-job a:link, a:hover {
  color: red;  
}

a:visited {
  color: #608AAF;
  text-decoration: underline;
}

a:hover {
  color: #81A8CB;
  text-decoration: none;
}

/***** Icon/Images ****/
img.icon24 {
  width: 24px;
  height: 24px;
  border: 0px;
  vertical-align: middle;
}

img.icon32 {
  width: 32px;
  height: 32px;
  border: 0px;
  vertical-align: middle;
}

a img, /* Yuck, sets size of the icon on the date picker, so that it works in IE with pngHack */ img.icon12 {
  width: 12px;
  height: 12px;
}

img.icon16 {
  width: 16px;
  height: 16px;
  border: 0px;
  vertical-align: middle;
}

form {
  margin: 0;
}

/**** header *****/
#header-logo {
  background: #099109;
  background-image: linear-gradient(bottom, #077707 7%, #099109 50%, #0A9E0A 81%);
  background-image: -o-linear-gradient(bottom, #077707 7%, #099109 50%, #0A9E0A 81%);
  background-image: -moz-linear-gradient(bottom, #077707 7%, #099109 50%, #0A9E0A 81%);
  background-image: -webkit-linear-gradient(bottom, #077707 7%, #099109 50%, #0A9E0A 81%);
  background-image: -ms-linear-gradient(bottom, #077707 7%, #099109 50%, #0A9E0A 81%);
  border-bottom: 1px solid #CCCCCC;
}

/* for displaying in IE */
#header-logo img {
  width: 196px;
  height: 50px;
  padding-left: 3px;
}

#loggedInAs {
  color: #505050;
  font-weight: normal;
  margin-right: 10px;
}

#content {
  margin: 0 0 0 0;
  padding: 0;
  text-align: left;
}

#main {
  margin-left: 200px;
  background-color: #FFF;
  padding: 10px 15px 15px 60px;
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  min-height: 735px;
}

#footer {
  clear: both;
  padding: 30px 15px 15px 60px;
  background-color: #FAFAFA;
  font-size: 0.8em;
  text-align: center;
  color: #777;
  padding-top: 10px;
}

#footer a:link,#footer a:visited {
  color: #777;
}

/***** NAVBAR ******/
#nav {
  float: left;
  position: absolute;
  top: 128px;
  left: 31px;
  bottom: 88px;
  width: 200px;
  height: 300px;
  padding-top: 47px;
  padding-bottom: 211px;
  background: #FAFAFA;
  margin-top: -46px;
  font-size: 0.9em;
  font-weight: bold;
  color: #FAFAFA;
  line-height: 1.4em;
}

#nav ul {
  width: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#nav li {
  display: block;
  list-style: none;
  background-color: #EEE;
}

* html #nav li { /* hide ie/mac \*/
  height: 1%;
  /* end hide */
}

#nav a,#nav a:link,#nav a:active,#nav a:visited {
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin: 0;
  padding: 5px 10px 5px 10px;
  color: #555;
  background: #FAFAFA;
  border-top: 1px solid #FAFAFA;
}

#nav a:hover {
  background: #F1F1F1;
  border-top: 1px solid #CCC;
}

#nav strong {
  display: block;
  color: #000;
  background-color: #81A8CB;
  background-image: linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
  background-image: -o-linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
  background-image: -moz-linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
  background-image: -webkit-linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
  background-image: -ms-linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
}

#nav strong a,#nav strong a:link,#nav strong a:active,#nav strong a:visited,#nav strong a:hover {
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px #555;
  background-color: #81A8CB;
  background-image: linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
  background-image: -o-linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
  background-image: -moz-linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
  background-image: -webkit-linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
  background-image: -ms-linear-gradient(bottom, #608AAF 29%, #81A8CB 72%);
}

/* END NAV */

/* a box containing a table (the table's container) */
.table-box {
  margin-bottom: 2em;
}

.table-box tr.even {
  background-color: #FBFBFB;
}

/***** Data Table Layout ******/
.userDataTable {
  border: none;
  background: #FFF;
}

.userDataTable th,.userDataTable TD {
  border: none;
  padding: 5px;
}

.userDataTable th {
  background: #FBFBFB;
  color: #000;
  cell-spacing: 1px;
}

.userDataTable .evenRow th {
  background: #FBFBFB;
}

.userDataTable tr.evenRow {
  background: #FBFBFB;
}

.userDataTable tr.oddRow {
  background-color: #FBFBFB;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.userDataTable .buttons,.results .buttons {
  text-align: right;
}

.userDataTable .fields {
  width: 385px;
  color: #000;
}

.userDataTable .oddRow .fields {
  width: 385px;
  color: #000;
  background: #F1F1F1;
}

.userDataTable .desc {
  width: 165px;
  font-weight: bold;
  font-size: .9em;
  color: #000;
  background: #F1F1F1;
}

.userDataTable .fields .label {
  font-weight: normal;
}

.userDataTable .fields .indented {
  margin-left: 10px;
}

/* END TABLE LAYOUT */

/* Field Formats */
input.text {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

input.credit {
  width: 5em;
  text-align: right;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/**** Filters ****/
.filter-and-view {
  width: 100%;
  }

.filter {
  border: 1px solid #919B9C;
  margin: 2px 0 10px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  color: #666;
  background-color: #F4F3EE;
}

.filter .header {
  clear: both;
  margin-bottom: 0.2em.
}

.filter .header h3 {
  display: inline;
  margin: 0;
}

.filter .header h3 a:link,.filter .header h3 a:visited {
  color: #505050;
}

.filter .header h3 a img {
  text-decoration: none;
}

.filter .header .remove {
  display: inline;
  font-size: 0.9em;
  margin-left: 0.3em;
}

.filter .header .controls {
  float: right;
}

.filter table {
  width: 100%;
  margin: 0px;
}

.filter th {
  text-align: right;
  font-weight: normal;
  white-space: nowrap;
  padding: 1px;
}

.filter td {
  padding: 1px;
  white-space: nowrap;
  width: 100% /* this ensures fields are pushed over to the left */
}

.filter td.buttons {
  text-align: right;
}

/**** Results Tables ****/
table.results {
  width: 100%;
  border: none;
  font-size: 0.9em;
  border-spacing: 2px;
}

table.results th,table.results td {
  padding: 5px;
  
}

table.results th {
  background-color: #F1F1F1;
  font-weight: bold;
  color: #000;
  text-align: center;
}

table.results th a:link,table.results th a:visited {
  color: #280000;
  font-weight: bold;
}

tr.even {
  background-color: white;
}

tr.odd {
  background-color: #F1F1F1;
}

.table-footer {
  padding: 3px 3px 3px 5px;
}

table.results .iconColumnHeader,table.results .iconColumnValue {
  width: 16px;
}

/* Fix the tapestry headers */
table.results th table {
  border: 0px;
}

table.results th table td {
  border: 0px;
  padding: 0px;
  background-color: transparent;
}

table.results ul {
  margin: 0px;
  padding-left: 20px;
}

table.results .statusColumnValue td {
  padding: 2px;
}

/**** Refund Request table ****/
#refundJobDetails,#refundDetails {
  margin: 7px 0px;
  padding-bottom: 4px;
  font-size: 0.9em;
}

th.tableHeading {
  background-color: #F1F1F1;
  color: #000;
}

#refundJobDetails tr.oddRow {
  background-color: #F1F1F1;
}

#refundJobDetails tr.evenRow {
  background-color: #F1F1F1;
}

#refundJobDetails th {
  padding: 5px;
  vertical-align: top;
  width: 209px;
}

#refundDetails th {
  width: 225px;
  padding: 7px;
  vertical-align: top;
}

#refundJobDetails td,#refundDetails td {
  padding: 5px;
}

#refundDetails tr {
  background-color: #F1F1F1;
}

#refundJobDetails td.iconColumn {
  width: 16px;
}

/**** Popups *****/
.popupBG {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #555;
  color: #FFF;
  box-shadow: 1px 2px 4px #555;
}

.popupBG ul {
  margin: 0px;
  padding-left: 20px;
  list-style-type: circle;
  font-weight: 400;
  font-size: 12px;
}

.popupFG {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  padding: 5px 3px 5px 5px;
  background: #EEE;
  color: #000;
}

.popupCaptionFont {
  padding-bottom: 4px;
  font-weight: 700;
  font-size: 12px;
  padding-left: 10px;
}

/**** Status Messages ****/
.errorMessage,table.results tr.error td {
  background-color: #FCC;
  border: 2px solid #C00;
  color: #C00;
  font-weight: bold;
}

.warnMessage,table.results tr.warning td {
  background-color: #FFFFCE;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #B38F00;
  color: #B38F00;
  font-weight: bold;
  width: 550px;
}

.infoMessage {
  background-color: #DFD;
  border: 2px solid #006634;
  color: #006634;
  font-weight: bold;
}

.errorMessage,.warnMessage,.infoMessage {
  padding: 10px;
  margin-bottom: 10px;
  width: auto;
  margin-left: -60px;
  margin-right: -15px;
  margin-top: -10px;
  border-width: 0px;
}

.errorMessage img,.warnMessage img,.infoMessage img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.errorMessage ul,.warnMessage ul,.infoMessage ul {
  margin-top: 0px;
  margin-left: 50px;
  margin-bottom: 0px;
  padding: 0px;
}

.web-print-intro {
  width: 550px;
}

.web-print-intro #web-print-intro-msg {
  font-size: 1.2em;
}

.web-print-intro .web-print-start {
  float: right;
  font-size: 1.1em;
  font-weight: bold;
  margin: 1em;
}

#web-print-iframe {
  width: 100%;
  height: 400px;
  border: none;
}

.wizard-heading {
  }
.wizard {
  top: 50px;
  width: auto;
  }
  .wizard-steps {
    width: auto;
    height: 27px;
    background: #F2F2F2;
    border-bottom: 20px solid #099109;
    font-weight: bold;
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    border-top: 1px solid #7B7979;
    border-left: 1px solid #7B7979;
    border-right: 1px solid #7B7979;
    }
    .wizard-steps .wizard-heading {
      float: left;
      }
    .wizard-steps ul {
      float: right;
      border: none;
      margin: 0;
      padding: 0;
      }
      .wizard-steps ul li {
        float: left;
        border-left: 1px solid #DDD;
        padding: 0.4em 1em 6px;
        color: #000;
        list-style-type: none;
        }
        .wizard-steps ul li.active {
          color: #FFF;
          background-color: #099109;
          padding-bottom: 7px;
          border-left: none;
          }
        .wizard-steps ul li.complete {
          border-left: 1px solid #7B7979;
          }
  .wizard-body {
    width: auto;
    min-height: 18em;
    border-width: 1px;
    border-color: #CCC;
    border-left: 1px solid #7B7979;
    border-right: 1px solid #7B7979;
    border-top: none;
    padding: 10px 10px 2em;
    background-color: #F4F3EE;
    }
    .web-print-printer-list .printerDisplayNameColumnValue label {
      display: block;
      }
      .web-print-printer-list table.results {
        table-layout: fixed;
        word-break: break-all;
        }
        .web-print-printer-list table.results td {
          /* For browsers without word-break: hide overflow */
          overflow: hidden;
          text-overflow: ellipsis;
          }
  .wizard .buttons {
    width: auto;
    border-width: 1px;
    border-color: #7B7979;
    border-left: 1px solid #7B7979;
    border-right: 1px solid #7B7979;
    border-bottom: 1px solid #7B7979;
    padding-bottom: 3em;
    text-align: center;
    background-color: #F4F3EE;
    }
    .wizard .buttons .left {
      float: left;
      margin-left: 1em;
      }
    .wizard .buttons .right {
      float: right;
      margin-right: 1em;
      }

#registration-instructions,
#registration-confirmation {
  font-size: 1.2em;
}

#registration-confirmation {
  margin-top: 2em;
  margin-left: 2em;
}

#registration-form {
  
}

#registration-form #full-username-hint {
  color: #378742;
}

#registration-email-sent {
  margin: 3em 0;
  font-style: italic;
}

table.web-print-jobs {
  margin: 0;
}

table.web-print-jobs
  table.web-print-jobs .spinnerColumnHeader {
  width: 16px;
}

table.web-print-jobs #status .info {
  color: #000;
}

table.web-print-jobs #status .error {
  color: #C00;
}

.no-web-print-jobs {
  width: 100%;
  padding: 25px 0px;
  border: none;
  width: auto;
  margin-left: 2px;
  background-color: #F4F3EE;
  text-align: center;
  font-style: italic;
  letter-spacing: 0.1em;
}

#upload-form {
  
}

.upload-progress {
  width: 300px;
  height: 15px;
  border: 1px solid gray;
  margin: 0.5em auto 0.5em 2em;
  padding: 1px;
  overflow: hidden;
  background-color: #FFF;
}

.upload-progress .percentage {
  width: 0%;
  height: 100%;
  background-color: #378742;
}

.upload-progress .percentage.done {
  background-color: #46526C;
}

.working {
  width: 84px;
  height: 15px;
  border-collapse: collapse;
}

.working td {
  width: 10px;
  height: 13px;
  border-right: 2px solid #FFF;
  margin: 0;
  padding: 0;
  line-height: 1px;
}

.working .working-1,.working .working-2,.working .working-3 {
  background-color: #378742;
}

.working .working-4,.working .working-5 {
  background-color: #1F793E;
}

.working .working-6,.working .working-7 {
  background-color: #006634;
}

.print-options th {
  font-weight: normal;
}

.account-selection {
  width: 501px;
}

.account-selection .left {
  width: 25%;
}

.account-selection .label {
  padding: 0.6em;
  text-align: right;
}

.account-selection #charge-shared-by-name-options select {
  width: 100%;
}

.account-selection #charge-shared-by-pin-options input {
  width: 100%;
}

.box {
  margin: 10px 0;
}

.box .box-table {
  width: 100%;
  border-collapse: collapse;
}

.box .box-table th,.box .box-table td {
  padding: 0;
}

table.email-address-list {
  width: 550px;
  border-collapse: collapse;
  }
  table.email-address-list tr.even {
    background: #FBFBFB;
    }
  table.email-address-list tr.odd {
    background: #F1F1F1;
    }
  table.email-address-list tr.unverified {
    color: #777;
    }
    table.email-address-list td {
      padding: 5px;
      white-space: nowrap;
      border-bottom: 2px solid #FFF;
      }
      table.email-address-list td.status {
        padding: 0 1em;
        }
      table.email-address-list td.delete {
        text-align: center;
        }
        table.email-address-list tr.unverified td.delete a i {
          opacity: 0.5;
          }
          table.email-address-list tr.unverified td.delete a:hover i {
            opacity: 1.0;
            }
        table.email-address-list td.delete a i {
          opacity: 0.7;
          }
          table.email-address-list td.delete a:hover i {
            opacity: 1.0;
            }

.add-email {
  line-height: 1.7em;
  }
  #add-email {
  opacity: 0.7;
  }
  #add-email:hover {
    opacity: 1;
    }
  #add-email-msg {
    display: inline-block;
    border: 1px solid #CCC;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 4px;
    margin: 0.2em 10px;
    padding: 0.3em 0.5em 0 0.5em;
    background-color: #F7F7F7;
    margin-top: 10px;
    }
    #add-email-msg a:link,
    #add-email-msg a:visited {
      color: #000;
      text-decoration: none;
      }

#added-email-info, #resend-verify-info {
  padding-bottom: 20px;
  color: #006634;
  font-weight: bold;
  }
  

#add-email-input {
  width: 550px;
  margin-top: 10px;
  }
  #new-email {
    width: 460px;
    } 
  #add-email-button {
    margin-left: 10px;
    float: right;
    }
  
  
#email-error-msg {
  padding-top: 5px;
  padding-bottom: 7px;
  color: #C00;
  }

.dropzone-div {
    min-height: 224px;
    width: 300px;
    background-color: #DCDBD6;
    cursor: pointer;
}

.dropzone-previews * {
    cursor: auto;
}
  
#dropzone-table {
    width: inherit;
    min-height: inherit;
    text-align: center;
    font-size: 17px;
    color: #666;
    height: 224px;
}

#fallback {
    display: none;
}

#file-image {
    opacity: 0.7;
}

#dropzone-button {
    width: 300px;
    margin-top: 8px;
    text-align: center;
}

/*!
 *  Project:  GLYPHICONS
 *  Author:   Jan Kovarik - www.glyphicons.com
 *  Twitter:  @jankovarik
 */
.glyphicons-icon{display:inline-block;width:48px;height:48px;line-height:48px;vertical-align:text-top;background-image:url(/images/icons2/glyphicons.png);background-position:0 0;background-repeat:no-repeat;vertical-align:top;*display:inline;*zoom:1;*margin-right:.3em}.no-inlinesvg .glyphicons-icon{background-image:url(/images/icons2/glyphicons.png)}.glyphicons-icon.white{background-image:url(/images/icons2/glyphicons-white.svg)}.no-inlinesvg .glyphicons-icon.white{background-image:url(/images/icons2/glyphicons-white.png)}.glyphicons-icon.glass{background-position:4px 11px}.glyphicons-icon.leaf{background-position:-44px 11px}.glyphicons-icon.dog{background-position:-92px 11px}.glyphicons-icon.user{background-position:-140px 11px}.glyphicons-icon.girl{background-position:-188px 11px}.glyphicons-icon.car{background-position:-236px 11px}.glyphicons-icon.user_add{background-position:-284px 11px}.glyphicons-icon.user_remove{background-position:-332px 11px}.glyphicons-icon.film{background-position:-380px 11px}.glyphicons-icon.magic{background-position:-428px 11px}.glyphicons-icon.envelope{background-position:4px -37px}.glyphicons-icon.camera{background-position:-44px -37px}.glyphicons-icon.heart{background-position:-92px -37px}.glyphicons-icon.beach_umbrella{background-position:-140px -37px}.glyphicons-icon.train{background-position:-188px -37px}.glyphicons-icon.print{background-position:-236px -37px}.glyphicons-icon.bin{background-position:-284px -37px}.glyphicons-icon.music{background-position:-332px -37px}.glyphicons-icon.note{background-position:-380px -37px}.glyphicons-icon.heart_empty{background-position:-428px -37px}.glyphicons-icon.home{background-position:4px -85px}.glyphicons-icon.snowflake{background-position:-44px -85px}.glyphicons-icon.fire{background-position:-92px -85px}.glyphicons-icon.magnet{background-position:-140px -85px}.glyphicons-icon.parents{background-position:-188px -85px}.glyphicons-icon.binoculars{background-position:-236px -85px}.glyphicons-icon.road{background-position:-284px -85px}.glyphicons-icon.search{background-position:-332px -85px}.glyphicons-icon.cars{background-position:-380px -85px}.glyphicons-icon.notes_2{background-position:-428px -85px}.glyphicons-icon.pencil{background-position:4px -133px}.glyphicons-icon.bus{background-position:-44px -133px}.glyphicons-icon.wifi_alt{background-position:-92px -133px}.glyphicons-icon.luggage{background-position:-140px -133px}.glyphicons-icon.old_man{background-position:-188px -133px}.glyphicons-icon.woman{background-position:-236px -133px}.glyphicons-icon.file{background-position:-284px -133px}.glyphicons-icon.coins{background-position:-332px -133px}.glyphicons-icon.airplane{background-position:-380px -133px}.glyphicons-icon.notes{background-position:-428px -133px}.glyphicons-icon.stats{background-position:4px -181px}.glyphicons-icon.charts{background-position:-44px -181px}.glyphicons-icon.pie_chart{background-position:-92px -181px}.glyphicons-icon.group{background-position:-140px -181px}.glyphicons-icon.keys{background-position:-188px -181px}.glyphicons-icon.calendar{background-position:-236px -181px}.glyphicons-icon.router{background-position:-284px -181px}.glyphicons-icon.camera_small{background-position:-332px -181px}.glyphicons-icon.dislikes{background-position:-380px -181px}.glyphicons-icon.star{background-position:-428px -181px}.glyphicons-icon.link{background-position:4px -229px}.glyphicons-icon.eye_open{background-position:-44px -229px}.glyphicons-icon.eye_close{background-position:-92px -229px}.glyphicons-icon.alarm{background-position:-140px -229px}.glyphicons-icon.clock{background-position:-188px -229px}.glyphicons-icon.stopwatch{background-position:-236px -229px}.glyphicons-icon.projector{background-position:-284px -229px}.glyphicons-icon.history{background-position:-332px -229px}.glyphicons-icon.truck{background-position:-380px -229px}.glyphicons-icon.cargo{background-position:-428px -229px}.glyphicons-icon.compass{background-position:4px -277px}.glyphicons-icon.keynote{background-position:-44px -277px}.glyphicons-icon.paperclip{background-position:-92px -277px}.glyphicons-icon.power{background-position:-140px -277px}.glyphicons-icon.lightbulb{background-position:-188px -277px}.glyphicons-icon.tag{background-position:-236px -277px}.glyphicons-icon.tags{background-position:-284px -277px}.glyphicons-icon.cleaning{background-position:-332px -277px}.glyphicons-icon.ruller{background-position:-380px -277px}.glyphicons-icon.gift{background-position:-428px -277px}.glyphicons-icon.umbrella{background-position:4px -325px}.glyphicons-icon.book{background-position:-44px -325px}.glyphicons-icon.bookmark{background-position:-92px -325px}.glyphicons-icon.wifi{background-position:-140px -325px}.glyphicons-icon.cup{background-position:-188px -325px}.glyphicons-icon.stroller{background-position:-236px -325px}.glyphicons-icon.headphones{background-position:-284px -325px}.glyphicons-icon.headset{background-position:-332px -325px}.glyphicons-icon.warning_sign{background-position:-380px -325px}.glyphicons-icon.signal{background-position:-428px -325px}.glyphicons-icon.retweet{background-position:4px -373px}.glyphicons-icon.refresh{background-position:-44px -373px}.glyphicons-icon.roundabout{background-position:-92px -373px}.glyphicons-icon.random{background-position:-140px -373px}.glyphicons-icon.heat{background-position:-188px -373px}.glyphicons-icon.repeat{background-position:-236px -373px}.glyphicons-icon.display{background-position:-284px -373px}.glyphicons-icon.log_book{background-position:-332px -373px}.glyphicons-icon.adress_book{background-position:-380px -373px}.glyphicons-icon.building{background-position:-428px -373px}.glyphicons-icon.eyedropper{background-position:4px -421px}.glyphicons-icon.adjust{background-position:-44px -421px}.glyphicons-icon.tint{background-position:-92px -421px}.glyphicons-icon.crop{background-position:-140px -421px}.glyphicons-icon.vector_path_square{background-position:-188px -421px}.glyphicons-icon.vector_path_circle{background-position:-236px -421px}.glyphicons-icon.vector_path_polygon{background-position:-284px -421px}.glyphicons-icon.vector_path_line{background-position:-332px -421px}.glyphicons-icon.vector_path_curve{background-position:-380px -421px}.glyphicons-icon.vector_path_all{background-position:-428px -421px}.glyphicons-icon.font{background-position:4px -469px}.glyphicons-icon.italic{background-position:-44px -469px}.glyphicons-icon.bold{background-position:-92px -469px}.glyphicons-icon.text_underline{background-position:-140px -469px}.glyphicons-icon.text_strike{background-position:-188px -469px}.glyphicons-icon.text_height{background-position:-236px -469px}.glyphicons-icon.text_width{background-position:-284px -469px}.glyphicons-icon.text_resize{background-position:-332px -469px}.glyphicons-icon.left_indent{background-position:-380px -469px}.glyphicons-icon.right_indent{background-position:-428px -469px}.glyphicons-icon.align_left{background-position:4px -517px}.glyphicons-icon.align_center{background-position:-44px -517px}.glyphicons-icon.align_right{background-position:-92px -517px}.glyphicons-icon.justify{background-position:-140px -517px}.glyphicons-icon.list{background-position:-188px -517px}.glyphicons-icon.text_smaller{background-position:-236px -517px}.glyphicons-icon.text_bigger{background-position:-284px -517px}.glyphicons-icon.embed{background-position:-332px -517px}.glyphicons-icon.embed_close{background-position:-380px -517px}.glyphicons-icon.table{background-position:-428px -517px}.glyphicons-icon.message_full{background-position:4px -565px}.glyphicons-icon.message_empty{background-position:-44px -565px}.glyphicons-icon.message_in{background-position:-92px -565px}.glyphicons-icon.message_out{background-position:-140px -565px}.glyphicons-icon.message_plus{background-position:-188px -565px}.glyphicons-icon.message_minus{background-position:-236px -565px}.glyphicons-icon.message_ban{background-position:-284px -565px}.glyphicons-icon.message_flag{background-position:-332px -565px}.glyphicons-icon.message_lock{background-position:-380px -565px}.glyphicons-icon.message_new{background-position:-428px -565px}.glyphicons-icon.inbox{background-position:4px -613px}.glyphicons-icon.inbox_plus{background-position:-44px -613px}.glyphicons-icon.inbox_minus{background-position:-92px -613px}.glyphicons-icon.inbox_lock{background-position:-140px -613px}.glyphicons-icon.inbox_in{background-position:-188px -613px}.glyphicons-icon.inbox_out{background-position:-236px -613px}.glyphicons-icon.cogwheel{background-position:-284px -613px}.glyphicons-icon.cogwheels{background-position:-332px -613px}.glyphicons-icon.picture{background-position:-380px -613px}.glyphicons-icon.adjust_alt{background-position:-428px -613px}.glyphicons-icon.database_lock{background-position:4px -661px}.glyphicons-icon.database_plus{background-position:-44px -661px}.glyphicons-icon.database_minus{background-position:-92px -661px}.glyphicons-icon.database_ban{background-position:-140px -661px}.glyphicons-icon.folder_open{background-position:-188px -661px}.glyphicons-icon.folder_plus{background-position:-236px -661px}.glyphicons-icon.folder_minus{background-position:-284px -661px}.glyphicons-icon.folder_lock{background-position:-332px -661px}.glyphicons-icon.folder_flag{background-position:-380px -661px}.glyphicons-icon.folder_new{background-position:-428px -661px}.glyphicons-icon.edit{background-position:4px -709px}.glyphicons-icon.new_window{background-position:-44px -709px}.glyphicons-icon.check{background-position:-92px -709px}.glyphicons-icon.unchecked{background-position:-140px -709px}.glyphicons-icon.more_windows{background-position:-188px -709px}.glyphicons-icon.show_big_thumbnails{background-position:-236px -709px}.glyphicons-icon.show_thumbnails{background-position:-284px -709px}.glyphicons-icon.show_thumbnails_with_lines{background-position:-332px -709px}.glyphicons-icon.show_lines{background-position:-380px -709px}.glyphicons-icon.playlist{background-position:-428px -709px}.glyphicons-icon.imac{background-position:4px -757px}.glyphicons-icon.macbook{background-position:-44px -757px}.glyphicons-icon.ipad{background-position:-92px -757px}.glyphicons-icon.iphone{background-position:-140px -757px}.glyphicons-icon.iphone_transfer{background-position:-188px -757px}.glyphicons-icon.iphone_exchange{background-position:-236px -757px}.glyphicons-icon.ipod{background-position:-284px -757px}.glyphicons-icon.ipod_shuffle{background-position:-332px -757px}.glyphicons-icon.ear_plugs{background-position:-380px -757px}.glyphicons-icon.phone{background-position:-428px -757px}.glyphicons-icon.step_backward{background-position:4px -805px}.glyphicons-icon.fast_backward{background-position:-44px -805px}.glyphicons-icon.rewind{background-position:-92px -805px}.glyphicons-icon.play{background-position:-140px -805px}.glyphicons-icon.pause{background-position:-188px -805px}.glyphicons-icon.stop{background-position:-236px -805px}.glyphicons-icon.forward{background-position:-284px -805px}.glyphicons-icon.fast_forward{background-position:-332px -805px}.glyphicons-icon.step_forward{background-position:-380px -805px}.glyphicons-icon.eject{background-position:-428px -805px}.glyphicons-icon.facetime_video{background-position:4px -853px}.glyphicons-icon.download_alt{background-position:-44px -853px}.glyphicons-icon.mute{background-position:-92px -853px}.glyphicons-icon.volume_down{background-position:-140px -853px}.glyphicons-icon.volume_up{background-position:-188px -853px}.glyphicons-icon.screenshot{background-position:-236px -853px}.glyphicons-icon.move{background-position:-284px -853px}.glyphicons-icon.more{background-position:-332px -853px}.glyphicons-icon.brightness_reduce{background-position:-380px -853px}.glyphicons-icon.brightness_increase{background-position:-428px -853px}.glyphicons-icon.circle_plus{background-position:4px -901px}.glyphicons-icon.circle_minus{background-position:-44px -901px}.glyphicons-icon.circle_remove{background-position:-92px -901px}.glyphicons-icon.circle_ok{background-position:-140px -901px}.glyphicons-icon.circle_question_mark{background-position:-188px -901px}.glyphicons-icon.circle_info{background-position:-236px -901px}.glyphicons-icon.circle_exclamation_mark{background-position:-284px -901px}.glyphicons-icon.remove{background-position:-332px -901px}.glyphicons-icon.ok{background-position:-380px -901px}.glyphicons-icon.ban{background-position:-428px -901px}.glyphicons-icon.download{background-position:4px -949px}.glyphicons-icon.upload{background-position:-44px -949px}.glyphicons-icon.shopping_cart{background-position:-92px -949px}.glyphicons-icon.lock{background-position:-140px -949px}.glyphicons-icon.unlock{background-position:-188px -949px}.glyphicons-icon.electricity{background-position:-236px -949px}.glyphicons-icon.ok_2{background-position:-284px -949px}.glyphicons-icon.remove_2{background-position:-332px -949px}.glyphicons-icon.cart_out{background-position:-380px -949px}.glyphicons-icon.cart_in{background-position:-428px -949px}.glyphicons-icon.left_arrow{background-position:4px -997px}.glyphicons-icon.right_arrow{background-position:-44px -997px}.glyphicons-icon.down_arrow{background-position:-92px -997px}.glyphicons-icon.up_arrow{background-position:-140px -997px}.glyphicons-icon.resize_small{background-position:-188px -997px}.glyphicons-icon.resize_full{background-position:-236px -997px}.glyphicons-icon.circle_arrow_left{background-position:-284px -997px}.glyphicons-icon.circle_arrow_right{background-position:-332px -997px}.glyphicons-icon.circle_arrow_top{background-position:-380px -997px}.glyphicons-icon.circle_arrow_down{background-position:-428px -997px}.glyphicons-icon.play_button{background-position:4px -1045px}.glyphicons-icon.unshare{background-position:-44px -1045px}.glyphicons-icon.share{background-position:-92px -1045px}.glyphicons-icon.chevron-right{background-position:-140px -1045px}.glyphicons-icon.chevron-left{background-position:-188px -1045px}.glyphicons-icon.bluetooth{background-position:-236px -1045px}.glyphicons-icon.euro{background-position:-284px -1045px}.glyphicons-icon.usd{background-position:-332px -1045px}.glyphicons-icon.gbp{background-position:-380px -1045px}.glyphicons-icon.retweet_2{background-position:-428px -1045px}.glyphicons-icon.moon{background-position:4px -1093px}.glyphicons-icon.sun{background-position:-44px -1093px}.glyphicons-icon.cloud{background-position:-92px -1093px}.glyphicons-icon.direction{background-position:-140px -1093px}.glyphicons-icon.brush{background-position:-188px -1093px}.glyphicons-icon.pen{background-position:-236px -1093px}.glyphicons-icon.zoom_in{background-position:-284px -1093px}.glyphicons-icon.zoom_out{background-position:-332px -1093px}.glyphicons-icon.pin{background-position:-380px -1093px}.glyphicons-icon.albums{background-position:-428px -1093px}.glyphicons-icon.rotation_lock{background-position:4px -1141px}.glyphicons-icon.flash{background-position:-44px -1141px}.glyphicons-icon.google_maps{background-position:-92px -1141px}.glyphicons-icon.anchor{background-position:-140px -1141px}.glyphicons-icon.conversation{background-position:-188px -1141px}.glyphicons-icon.chat{background-position:-236px -1141px}.glyphicons-icon.male{background-position:-284px -1141px}.glyphicons-icon.female{background-position:-332px -1141px}.glyphicons-icon.asterisk{background-position:-380px -1141px}.glyphicons-icon.divide{background-position:-428px -1141px}.glyphicons-icon.snorkel_diving{background-position:4px -1189px}.glyphicons-icon.scuba_diving{background-position:-44px -1189px}.glyphicons-icon.oxygen_bottle{background-position:-92px -1189px}.glyphicons-icon.fins{background-position:-140px -1189px}.glyphicons-icon.fishes{background-position:-188px -1189px}.glyphicons-icon.boat{background-position:-236px -1189px}.glyphicons-icon.delete{background-position:-284px -1189px}.glyphicons-icon.sheriffs_star{background-position:-332px -1189px}.glyphicons-icon.qrcode{background-position:-380px -1189px}.glyphicons-icon.barcode{background-position:-428px -1189px}.glyphicons-icon.pool{background-position:4px -1237px}.glyphicons-icon.buoy{background-position:-44px -1237px}.glyphicons-icon.spade{background-position:-92px -1237px}.glyphicons-icon.bank{background-position:-140px -1237px}.glyphicons-icon.vcard{background-position:-188px -1237px}.glyphicons-icon.electrical_plug{background-position:-236px -1237px}.glyphicons-icon.flag{background-position:-284px -1237px}.glyphicons-icon.credit_card{background-position:-332px -1237px}.glyphicons-icon.keyboard-wireless{background-position:-380px -1237px}.glyphicons-icon.keyboard-wired{background-position:-428px -1237px}.glyphicons-icon.shield{background-position:4px -1285px}.glyphicons-icon.ring{background-position:-44px -1285px}.glyphicons-icon.cake{background-position:-92px -1285px}.glyphicons-icon.drink{background-position:-140px -1285px}.glyphicons-icon.beer{background-position:-188px -1285px}.glyphicons-icon.fast_food{background-position:-236px -1285px}.glyphicons-icon.cutlery{background-position:-284px -1285px}.glyphicons-icon.pizza{background-position:-332px -1285px}.glyphicons-icon.birthday_cake{background-position:-380px -1285px}.glyphicons-icon.tablet{background-position:-428px -1285px}.glyphicons-icon.settings{background-position:4px -1333px}.glyphicons-icon.bullets{background-position:-44px -1333px}.glyphicons-icon.cardio{background-position:-92px -1333px}.glyphicons-icon.t-shirt{background-position:-140px -1333px}.glyphicons-icon.pants{background-position:-188px -1333px}.glyphicons-icon.sweater{background-position:-236px -1333px}.glyphicons-icon.fabric{background-position:-284px -1333px}.glyphicons-icon.leather{background-position:-332px -1333px}.glyphicons-icon.scissors{background-position:-380px -1333px}.glyphicons-icon.bomb{background-position:-428px -1333px}.glyphicons-icon.skull{background-position:4px -1381px}.glyphicons-icon.celebration{background-position:-44px -1381px}.glyphicons-icon.tea_kettle{background-position:-92px -1381px}.glyphicons-icon.french_press{background-position:-140px -1381px}.glyphicons-icon.coffe_cup{background-position:-188px -1381px}.glyphicons-icon.pot{background-position:-236px -1381px}.glyphicons-icon.grater{background-position:-284px -1381px}.glyphicons-icon.kettle{background-position:-332px -1381px}.glyphicons-icon.hospital{background-position:-380px -1381px}.glyphicons-icon.hospital_h{background-position:-428px -1381px}.glyphicons-icon.microphone{background-position:4px -1429px}.glyphicons-icon.webcam{background-position:-44px -1429px}.glyphicons-icon.temple_christianity_church{background-position:-92px -1429px}.glyphicons-icon.temple_islam{background-position:-140px -1429px}.glyphicons-icon.temple_hindu{background-position:-188px -1429px}.glyphicons-icon.temple_buddhist{background-position:-236px -1429px}.glyphicons-icon.bicycle{background-position:-284px -1429px}.glyphicons-icon.life_preserver{background-position:-332px -1429px}.glyphicons-icon.share_alt{background-position:-380px -1429px}.glyphicons-icon.comments{background-position:-428px -1429px}.glyphicons-icon.flower{background-position:4px -1477px}.glyphicons-icon.baseball{background-position:-44px -1477px}.glyphicons-icon.rugby{background-position:-92px -1477px}.glyphicons-icon.ax{background-position:-140px -1477px}.glyphicons-icon.table_tennis{background-position:-188px -1477px}.glyphicons-icon.bowling{background-position:-236px -1477px}.glyphicons-icon.tree_conifer{background-position:-284px -1477px}.glyphicons-icon.tree_deciduous{background-position:-332px -1477px}.glyphicons-icon.more_items{background-position:-380px -1477px}.glyphicons-icon.sort{background-position:-428px -1477px}.glyphicons-icon.filter{background-position:4px -1525px}.glyphicons-icon.gamepad{background-position:-44px -1525px}.glyphicons-icon.playing_dices{background-position:-92px -1525px}.glyphicons-icon.calculator{background-position:-140px -1525px}.glyphicons-icon.tie{background-position:-188px -1525px}.glyphicons-icon.wallet{background-position:-236px -1525px}.glyphicons-icon.piano{background-position:-284px -1525px}.glyphicons-icon.sampler{background-position:-332px -1525px}.glyphicons-icon.podium{background-position:-380px -1525px}.glyphicons-icon.soccer_ball{background-position:-428px -1525px}.glyphicons-icon.blog{background-position:4px -1573px}.glyphicons-icon.dashboard{background-position:-44px -1573px}.glyphicons-icon.certificate{background-position:-92px -1573px}.glyphicons-icon.bell{background-position:-140px -1573px}.glyphicons-icon.candle{background-position:-188px -1573px}.glyphicons-icon.pushpin{background-position:-236px -1573px}.glyphicons-icon.iphone_shake{background-position:-284px -1573px}.glyphicons-icon.pin_flag{background-position:-332px -1573px}.glyphicons-icon.turtle{background-position:-380px -1573px}.glyphicons-icon.rabbit{background-position:-428px -1573px}.glyphicons-icon.globe{background-position:4px -1621px}.glyphicons-icon.briefcase{background-position:-44px -1621px}.glyphicons-icon.hdd{background-position:-92px -1621px}.glyphicons-icon.thumbs_up{background-position:-140px -1621px}.glyphicons-icon.thumbs_down{background-position:-188px -1621px}.glyphicons-icon.hand_right{background-position:-236px -1621px}.glyphicons-icon.hand_left{background-position:-284px -1621px}.glyphicons-icon.hand_up{background-position:-332px -1621px}.glyphicons-icon.hand_down{background-position:-380px -1621px}.glyphicons-icon.fullscreen{background-position:-428px -1621px}.glyphicons-icon.shopping_bag{background-position:4px -1669px}.glyphicons-icon.book_open{background-position:-44px -1669px}.glyphicons-icon.nameplate{background-position:-92px -1669px}.glyphicons-icon.nameplate_alt{background-position:-140px -1669px}.glyphicons-icon.vases{background-position:-188px -1669px}.glyphicons-icon.bullhorn{background-position:-236px -1669px}.glyphicons-icon.dumbbell{background-position:-284px -1669px}.glyphicons-icon.suitcase{background-position:-332px -1669px}.glyphicons-icon.file_import{background-position:-380px -1669px}.glyphicons-icon.file_export{background-position:-428px -1669px}.glyphicons-icon.bug{background-position:4px -1717px}.glyphicons-icon.crown{background-position:-44px -1717px}.glyphicons-icon.smoking{background-position:-92px -1717px}.glyphicons-icon.cloud-upload{background-position:-140px -1717px}.glyphicons-icon.cloud-download{background-position:-188px -1717px}.glyphicons-icon.restart{background-position:-236px -1717px}.glyphicons-icon.security_camera{background-position:-284px -1717px}.glyphicons-icon.expand{background-position:-332px -1717px}.glyphicons-icon.collapse{background-position:-380px -1717px}.glyphicons-icon.collapse_top{background-position:-428px -1717px}.glyphicons-icon.globe_af{background-position:4px -1765px}.glyphicons-icon.global{background-position:-44px -1765px}.glyphicons-icon.spray{background-position:-92px -1765px}.glyphicons-icon.nails{background-position:-140px -1765px}.glyphicons-icon.claw_hammer{background-position:-188px -1765px}.glyphicons-icon.classic_hammer{background-position:-236px -1765px}.glyphicons-icon.hand_saw{background-position:-284px -1765px}.glyphicons-icon.riflescope{background-position:-332px -1765px}.glyphicons-icon.electrical_socket_eu{background-position:-380px -1765px}.glyphicons-icon.electrical_socket_us{background-position:-428px -1765px}.glyphicons-icon.pinterest{background-position:4px -1813px}.glyphicons-icon.dropbox{background-position:-44px -1813px}.glyphicons-icon.google_plus{background-position:-92px -1813px}.glyphicons-icon.jolicloud{background-position:-140px -1813px}.glyphicons-icon.yahoo{background-position:-188px -1813px}.glyphicons-icon.blogger{background-position:-236px -1813px}.glyphicons-icon.picasa{background-position:-284px -1813px}.glyphicons-icon.amazon{background-position:-332px -1813px}.glyphicons-icon.tumblr{background-position:-380px -1813px}.glyphicons-icon.wordpress{background-position:-428px -1813px}.glyphicons-icon.instapaper{background-position:4px -1861px}.glyphicons-icon.evernote{background-position:-44px -1861px}.glyphicons-icon.xing{background-position:-92px -1861px}.glyphicons-icon.zootool{background-position:-140px -1861px}.glyphicons-icon.dribbble{background-position:-188px -1861px}.glyphicons-icon.deviantart{background-position:-236px -1861px}.glyphicons-icon.read_it_later{background-position:-284px -1861px}.glyphicons-icon.linked_in{background-position:-332px -1861px}.glyphicons-icon.forrst{background-position:-380px -1861px}.glyphicons-icon.pinboard{background-position:-428px -1861px}.glyphicons-icon.behance{background-position:4px -1909px}.glyphicons-icon.github{background-position:-44px -1909px}.glyphicons-icon.youtube{background-position:-92px -1909px}.glyphicons-icon.skitch{background-position:-140px -1909px}.glyphicons-icon.foursquare{background-position:-188px -1909px}.glyphicons-icon.quora{background-position:-236px -1909px}.glyphicons-icon.badoo{background-position:-284px -1909px}.glyphicons-icon.spotify{background-position:-332px -1909px}.glyphicons-icon.stumbleupon{background-position:-380px -1909px}.glyphicons-icon.readability{background-position:-428px -1909px}.glyphicons-icon.facebook{background-position:4px -1957px}.glyphicons-icon.twitter{background-position:-44px -1957px}.glyphicons-icon.instagram{background-position:-92px -1957px}.glyphicons-icon.posterous_spaces{background-position:-140px -1957px}.glyphicons-icon.vimeo{background-position:-188px -1957px}.glyphicons-icon.flickr{background-position:-236px -1957px}.glyphicons-icon.last_fm{background-position:-284px -1957px}.glyphicons-icon.rss{background-position:-332px -1957px}.glyphicons-icon.skype{background-position:-380px -1957px}.glyphicons-icon.e-mail{background-position:-428px -1957px}
/*!
 *  Project:  GLYPHICONS HALFLINGS
 *  Author:   Jan Kovarik - www.glyphicons.com
 *  Twitter:  @jankovarik
 */
.halflings-icon{display:inline-block;width:14px;height:14px;line-height:14px;vertical-align:text-top;background-image:url(/images/icons2/glyphicons_halflings.svg);background-position:0 0;background-repeat:no-repeat;vertical-align:top;*display:inline;*zoom:1;*margin-right:.3em}.no-inlinesvg .halflings-icon{background-image:url(/images/icons2/glyphicons_halflings.png)}.halflings-icon.white{background-image:url(/images/icons2/glyphicons_halflings-white.svg)}.no-inlinesvg .halflings-icon.white{background-image:url(/images/icons2/glyphicons_halflings-white.png)}.halflings-icon.glass{background-position:0 0}.halflings-icon.music{background-position:-24px 0}.halflings-icon.search{background-position:-48px 0}.halflings-icon.envelope{background-position:-72px 0}.halflings-icon.heart{background-position:-96px 0}.halflings-icon.star{background-position:-120px 0}.halflings-icon.star-empty{background-position:-144px 0}.halflings-icon.user{background-position:-168px 0}.halflings-icon.film{background-position:-192px 0}.halflings-icon.th-large{background-position:-216px 0}.halflings-icon.th{background-position:-240px 0}.halflings-icon.th-list{background-position:-264px 0}.halflings-icon.ok{background-position:-288px 0}.halflings-icon.remove{background-position:-312px 0}.halflings-icon.zoom-in{background-position:-336px 0}.halflings-icon.zoom-out{background-position:-360px 0}.halflings-icon.off{background-position:-384px 0}.halflings-icon.signal{background-position:-408px 0}.halflings-icon.cog{background-position:-432px 0}.halflings-icon.trash{background-position:-456px 0}.halflings-icon.home{background-position:0 -24px}.halflings-icon.file{background-position:-24px -24px}.halflings-icon.time{background-position:-48px -24px}.halflings-icon.road{background-position:-72px -24px}.halflings-icon.download-alt{background-position:-96px -24px}.halflings-icon.download{background-position:-120px -24px}.halflings-icon.upload{background-position:-144px -24px}.halflings-icon.inbox{background-position:-168px -24px}.halflings-icon.play-circle{background-position:-192px -24px}.halflings-icon.repeat{background-position:-216px -24px}.halflings-icon.refresh{background-position:-240px -24px}.halflings-icon.list-alt{background-position:-264px -24px}.halflings-icon.lock{background-position:-287px -24px}.halflings-icon.flag{background-position:-312px -24px}.halflings-icon.headphones{background-position:-336px -24px}.halflings-icon.volume-off{background-position:-360px -24px}.halflings-icon.volume-down{background-position:-384px -24px}.halflings-icon.volume-up{background-position:-408px -24px}.halflings-icon.qrcode{background-position:-432px -24px}.halflings-icon.barcode{background-position:-456px -24px}.halflings-icon.tag{background-position:0 -48px}.halflings-icon.tags{background-position:-25px -48px}.halflings-icon.book{background-position:-48px -48px}.halflings-icon.bookmark{background-position:-72px -48px}.halflings-icon.print{background-position:-96px -48px}.halflings-icon.camera{background-position:-120px -48px}.halflings-icon.font{background-position:-144px -48px}.halflings-icon.bold{background-position:-167px -48px}.halflings-icon.italic{background-position:-192px -48px}.halflings-icon.text-height{background-position:-216px -48px}.halflings-icon.text-width{background-position:-240px -48px}.halflings-icon.align-left{background-position:-264px -48px}.halflings-icon.align-center{background-position:-288px -48px}.halflings-icon.align-right{background-position:-312px -48px}.halflings-icon.align-justify{background-position:-336px -48px}.halflings-icon.list{background-position:-360px -48px}.halflings-icon.indent-left{background-position:-384px -48px}.halflings-icon.indent-right{background-position:-408px -48px}.halflings-icon.facetime-video{background-position:-432px -48px}.halflings-icon.picture{background-position:-456px -48px}.halflings-icon.pencil{background-position:0 -72px}.halflings-icon.map-marker{background-position:-24px -72px}.halflings-icon.adjust{background-position:-48px -72px}.halflings-icon.tint{background-position:-72px -72px}.halflings-icon.edit{background-position:-96px -72px}.halflings-icon.share{background-position:-120px -72px}.halflings-icon.check{background-position:-144px -72px}.halflings-icon.move{background-position:-168px -72px}.halflings-icon.step-backward{background-position:-192px -72px}.halflings-icon.fast-backward{background-position:-216px -72px}.halflings-icon.backward{background-position:-240px -72px}.halflings-icon.play{background-position:-264px -72px}.halflings-icon.pause{background-position:-288px -72px}.halflings-icon.stop{background-position:-312px -72px}.halflings-icon.forward{background-position:-336px -72px}.halflings-icon.fast-forward{background-position:-360px -72px}.halflings-icon.step-forward{background-position:-384px -72px}.halflings-icon.eject{background-position:-408px -72px}.halflings-icon.chevron-left{background-position:-432px -72px}.halflings-icon.chevron-right{background-position:-456px -72px}.halflings-icon.plus-sign{background-position:0 -96px}.halflings-icon.minus-sign{background-position:-24px -96px}.halflings-icon.remove-sign{background-position:-48px -96px}.halflings-icon.ok-sign{background-position:-72px -96px}.halflings-icon.question-sign{background-position:-96px -96px}.halflings-icon.info-sign{background-position:-120px -96px}.halflings-icon.screenshot{background-position:-144px -96px}.halflings-icon.remove-circle{background-position:-168px -96px}.halflings-icon.ok-circle{background-position:-192px -96px}.halflings-icon.ban-circle{background-position:-216px -96px}.halflings-icon.arrow-left{background-position:-240px -96px}.halflings-icon.arrow-right{background-position:-264px -96px}.halflings-icon.arrow-up{background-position:-289px -96px}.halflings-icon.arrow-down{background-position:-312px -96px}.halflings-icon.share-alt{background-position:-336px -96px}.halflings-icon.resize-full{background-position:-360px -96px}.halflings-icon.resize-small{background-position:-384px -96px}.halflings-icon.plus{background-position:-408px -96px}.halflings-icon.minus{background-position:-433px -96px}.halflings-icon.asterisk{background-position:-456px -96px}.halflings-icon.exclamation-sign{background-position:0 -120px}.halflings-icon.gift{background-position:-24px -120px}.halflings-icon.leaf{background-position:-48px -120px}.halflings-icon.fire{background-position:-72px -120px}.halflings-icon.eye-open{background-position:-96px -120px}.halflings-icon.eye-close{background-position:-120px -120px}.halflings-icon.warning-sign{background-position:-144px -120px}.halflings-icon.plane{background-position:-168px -120px}.halflings-icon.calendar{background-position:-192px -120px}.halflings-icon.random{background-position:-216px -120px}.halflings-icon.comments{background-position:-240px -120px}.halflings-icon.magnet{background-position:-264px -120px}.halflings-icon.chevron-up{background-position:-288px -120px}.halflings-icon.chevron-down{background-position:-313px -119px}.halflings-icon.retweet{background-position:-336px -120px}.halflings-icon.shopping-cart{background-position:-360px -120px}.halflings-icon.folder-close{background-position:-384px -120px}.halflings-icon.folder-open{background-position:-408px -120px}.halflings-icon.resize-vertical{background-position:-432px -119px}.halflings-icon.resize-horizontal{background-position:-456px -118px}.halflings-icon.hdd{background-position:0 -144px}.halflings-icon.bullhorn{background-position:-24px -144px}.halflings-icon.bell{background-position:-48px -144px}.halflings-icon.certificate{background-position:-72px -144px}.halflings-icon.thumbs-up{background-position:-96px -144px}.halflings-icon.thumbs-down{background-position:-120px -144px}.halflings-icon.hand-right{background-position:-144px -144px}.halflings-icon.hand-left{background-position:-168px -144px}.halflings-icon.hand-top{background-position:-192px -144px}.halflings-icon.hand-down{background-position:-216px -144px}.halflings-icon.circle-arrow-right{background-position:-240px -144px}.halflings-icon.circle-arrow-left{background-position:-264px -144px}.halflings-icon.circle-arrow-top{background-position:-288px -144px}.halflings-icon.circle-arrow-down{background-position:-313px -144px}.halflings-icon.globe{background-position:-336px -144px}.halflings-icon.wrench{background-position:-360px -144px}.halflings-icon.tasks{background-position:-384px -144px}.halflings-icon.filter{background-position:-408px -144px}.halflings-icon.briefcase{background-position:-432px -144px}.halflings-icon.fullscreen{background-position:-456px -144px}.halflings-icon.dashboard{background-position:0 -168px}.halflings-icon.paperclip{background-position:-24px -168px}.halflings-icon.heart-empty{background-position:-48px -168px}.halflings-icon.link{background-position:-72px -168px}.halflings-icon.phone{background-position:-96px -168px}.halflings-icon.pushpin{background-position:-120px -168px}.halflings-icon.euro{background-position:-144px -168px}.halflings-icon.usd{background-position:-168px -168px}.halflings-icon.gbp{background-position:-192px -168px}.halflings-icon.sort{background-position:-216px -168px}.halflings-icon.sort-by-alphabet{background-position:-240px -168px}.halflings-icon.sort-by-alphabet-alt{background-position:-264px -168px}.halflings-icon.sort-by-order{background-position:-288px -168px}.halflings-icon.sort-by-order-alt{background-position:-313px -168px}.halflings-icon.sort-by-attributes{background-position:-336px -168px}.halflings-icon.sort-by-attributes-alt{background-position:-360px -168px}.halflings-icon.unchecked{background-position:-384px -168px}.halflings-icon.expand{background-position:-408px -168px}.halflings-icon.collapse{background-position:-432px -168px}.halflings-icon.collapse-top{background-position:-456px -168px}
/* Masonry CSS transitions */
.masonry,.masonry .masonry-brick{-webkit-transition-duration:0.15s;-moz-transition-duration:0.15s;-ms-transition-duration:0.15s;-o-transition-duration:0.15s;transition-duration:0.15s;}.masonry{-webkit-transition-property:height,width;-moz-transition-property:height,width;-ms-transition-property:height,width;-o-transition-property:height,width;transition-property:height,width;}.masonry .masonry-brick{-webkit-transition-property:left,right,top;-moz-transition-property:left,right,top;-ms-transition-property:left,right,top;-o-transition-property:left,right,top;transition-property:left,right,top;}

 
